:root{
    --primary:#4c1421;
    --gold:#b08a52;
    --cream:#f5efe7;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:var(--cream);
    font-family:'Cormorant Garamond', serif;
    color:#333;
}

.hidden{
    display:none;
}

section{
    padding:80px 20px;
}

#cover{
    height:100vh;
    background:
    linear-gradient(rgba(0,0,0,.4),
    rgba(0,0,0,.4)),
    url('../assets/cover.jpg');

    background-size:cover;
    background-position:center;

    display:flex;
    align-items:center;
    justify-content:center;
}

.cover-overlay{
    text-align:center;
    color:white;
}

.cover-overlay h1{
    font-family:'Great Vibes', cursive;
    font-size:4rem;
}

button{
    background:var(--primary);
    color:white;
    border:none;
    padding:14px 35px;
    border-radius:50px;
    cursor:pointer;
}

.hero{
    text-align:center;
}

.hero-card{

    max-width:450px;
    margin:auto;

    background:white;

    border-radius:
    200px 200px 30px 30px;

    padding:60px 30px;

    box-shadow:
    0 15px 50px rgba(0,0,0,.1);
}

.hero-card h1{
    font-size:4rem;
    color:var(--primary);
}

.timer{
    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
}

.timer div{
    width:90px;
    height:90px;

    background:white;

    border-radius:20px;

    display:flex;
    flex-direction:column;
    justify-content:center;

    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.timer span{
    font-size:2rem;
    font-weight:bold;
}

.person{
    text-align:center;
    margin-bottom:50px;
}

.person img{
    width:220px;
    height:220px;
    border-radius:50%;
    object-fit:cover;
}

.event-card{
    max-width:400px;
    margin:20px auto;
    background:white;
    padding:25px;
    border-radius:20px;
}

.gallery-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:15px;
}

.gallery-grid img{
    width:100%;
    border-radius:20px;
}

.maps iframe{
    width:100%;
    height:450px;
    border:none;
    border-radius:20px;
}

input,
textarea,
select{
    width:100%;
    padding:15px;
    margin:10px 0;
    border-radius:12px;
    border:1px solid #ddd;
}

@media(max-width:768px){

.gallery-grid{
    grid-template-columns:1fr;
}

.hero-card h1{
    font-size:3rem;
}

.cover-overlay h1{
    font-size:3rem;
}

}